*{
    
    /* flex-wrap: wrap; */
}

.p-5{
        background-image: url(../images/plant.jpg);
        background-size:cover;
}



a:hover{
    font-style: italic;
}
a{
    color: black;
}
a:visited{
    color: black;
}

main {
    display: flex;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-image: url(../images/bg1.jpg);
    background-size:cover;
    background-attachment:fixed;
}

/* code for header links */
/* .top{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: black;
    font-size: 125%;
    border: 2px;
    border-style: groove;
    border-color: black;
} */

/* header{
    list-style: none;
    margin: 0%;
    text-align: center;
    border: 1%;
    border-style: groove;
    border-color: black;
    
} */

/* Bio */
.aboutme{
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    margin:5%;
    font-size: 125%;
}

.contact{
    padding: 10px;
    text-align: left;
    margin: 2%;
    margin-top: 10%;
    background-color:palevioletred;

}

ul{
    list-style: none;
    text-align: left;
}



/* photo */
.me{
    max-width: 50%;
    max-height: 50%;
    border: 2px;
    border-style: double;
    border-color: black;
    padding: 3px;
}

h3{
    display: block;
    flex-direction: column;
}

/* a:visited, a:link{
    color: aliceblue;
} */


/* No current projects at this time */
.container.projects{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    margin: 5%;
}


#p1{
    background-image: url(../images/p1.jpg);
    background-size: cover;
    /* border: 5px;
    margin: 5%;
    padding: 35%; */
    text-align: center;
    text-decoration-color: aliceblue;
}

#p2{
    background-image: url(../images/p2.jpg);
    background-size: cover;
    /* margin: 5%;
    padding: 15%; */
    text-align: center;
    text-decoration-color: aliceblue;
}

#p3{
    background-image: url(../images/p3.jpg);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    padding: 15%;
    text-align: center;
    text-decoration-color: aliceblue;
}

.card{
    display: flex;
    width: 18rem;
    height: 18rem;
    justify-content: center;
    align-content: center;
}