*{
    
    /* flex-wrap: wrap; */
}

main {
    display: flex;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-image: url(./background.jpg);
    background-size: cover;
    background-attachment: scroll;
}

/* code for header links */
.top{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: black;
    font-size: 125%;
    border: 2px;
    border-style: groove;
    border-color: black;
}

header{
    list-style: none;
    margin: 0%;
    text-align: center;
    border: 1%;
    border-style: groove;
    border-color: black;
}

.aboutme{
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;

    width: 50%;
}

.me{
    max-width: 25%;
    max-height: 25%;
    border: 2px;
    border-style: double;
    border-color: black;
    padding: 3px;
}

h3{
    display: block;
    flex-direction: column;
}

.projects{
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
}

.contact{
    padding: 10px;
    text-align: center;
    margin: 2%;
}